@import "../../styles/variables.scss";

.pagination-container {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    list-style-type: none;  
    width: fit-content;
    @include rowflex(center,flex-end);
    flex-wrap: wrap;
    gap: 15px;
    @include breakpoint(mobileonly){
      float: left;
      @include rowflex(flex-start,flex-start);
    }
    @include breakpoint(phablet){
        margin: 50px;
        @include rowflex(center,center);
    }

    .pagination-item {
      padding: 0 12px;
      height: 32px;
      text-align: center;
      margin: auto 4px;
      color: $grey-500;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      letter-spacing: 0.01071em;
      border-radius: 16px;
      line-height: 1.43;
      font-size: 13px;
      min-width: 32px;
  
      &.dots:hover {
        background-color: transparent;
        cursor: default;
      }
      &:hover {
        color: $grey-902;
        background-color: $grey-100;
        cursor: pointer;
      }
  
      &.selected {
          color: $grey-902;
        background-color: $grey-100;
      }
  
      .arrow {
        &::before {
          position: relative;
          /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
          content: '';
          /* By using an em scale, the arrows will size with the font */
          display: inline-block;
          width: 0.4em;
          height: 0.4em;
          border-right: 0.12em solid $grey-200;
          border-top: 0.12em solid $grey-200;
        }
  
        &.left {
          transform: rotate(-135deg) translate(-50%);
        }
  
        &.right {
          transform: rotate(45deg);
        }
      }
  
      &.disabled {
        pointer-events: none;
  
        .arrow::before {
            border-right: 0.12em solid $grey-200;
            border-top: 0.12em solid $grey-200;
        }
  
        &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
  